@import "~/assets/css/main.scss";
@import "~/assets/css/colors.scss";

.post-page {
  background-color: $default-background-color;
  min-height: calc(100vh - $default-footer-height);
  max-width: 100vw;

  .error-container {
    @include error;
  }

  .post-page-loading-icon {
    @include loading-icon;
    height: calc(100vh - 64px);
  }

  .post-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    width: 100%;
    padding-top: $default-header-height;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: 0 0;

      @media only screen and (max-width: 992px) {
        height: 70vh;
      }

      @media only screen and (max-width: 576px) {
        height: 50vh;
      }
    }
  }

  .post-container {
    .post-title {
      @include title;
    }

    .post-author-details {
      margin: 2rem 0;
      display: flex;
      align-items: center;

      .author-avatar {
        height: 4rem;
        width: 4rem;
        background-color: #000000;
        border-radius: 40px;
      }

      .author-details {
        margin-left: 1rem;
        font-weight: bold;
        a {
          text-decoration: none;
          color: #000000;
        }
        p {
          margin: 0;
        }
      }
    }

    .post-content {
      * {
        max-width: 100%;
        height: auto;
      }
    }
  }
}
