$primary-color-light: #ffffff;
$primary-color-dark: #000000;

$default-background-color: #f4f7f9;

$card-box-shadow-color: rgba(99, 99, 99, 0.2);

$post-card-category-bullet-color: #45a896;

$pagination-active-page-indicator-color: #007bff;
